.tooling/sf-operations-papic0a303b1-b347-45b3-aee3-616bc91d3226/implementation/get-account-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-account-by-idFlow" doc:id="98d35b8b-b93b-437a-9578-998f07e2821b" >
		<set-variable value="#[attributes.uriParams[0]]" doc:name="set account id" doc:id="bead51ff-5afb-46bc-b347-b107bfe1cc8a" variableName="accountId"/>
		<http:request method="GET" doc:name="get account by id : /account/{code}" doc:id="a2675584-1744-4d04-a2da-912e794fb83c" config-ref="HTTP_Request_configuration" path="/api/accounts/{accountId}" responseTimeout="1000000000" sendCorrelationId="ALWAYS" correlationId="#[correlationId]">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountId" : vars.accountId
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
