.mule/plugins-tmp/mule-common-1.0.1-mule-plugin/common/utilities/generic-flows/call-flow-with-retry.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="ab02a0a9-085d-40c7-a9fd-44d922d4a406" persistent="false" entryTtl="24" entryTtlUnit="HOURS" expirationIntervalUnit="HOURS"/>
	
	<global-property doc:name="Global Property" doc:id="b57a5623-8947-4e2f-8d22-de74d330d70c" name="common.utilities.call-flow-with-retry.defaultRetryDurationSec" value="7200" />
	<global-property doc:name="Global Property" doc:id="c3c65675-3ed8-4795-8cee-81038824a648" name="common.utilities.call-flow-with-retry.defaultRetryInitialDelayMs" value="5000" />
	<global-property doc:name="Global Property" doc:id="d4a91475-e4e9-416a-aa3c-fbad2d34ecff" name="common.utilities.call-flow-with-retry.defaultRetryIncrementalDelayMs" value="1000" />
	<global-property doc:name="Global Property" doc:id="6b96ddb8-bb89-41bb-988f-d51867452767" name="common.utilities.call-flow-with-retry.defaultRetryMaxDelayMs" value="300000" />
		
	<flow name="call-flow-with-retry" doc:id="f84b2bbc-2d05-4849-aaee-111625cf38e9">
		<set-variable value="#[(java!java::util::UUID::randomUUID() as String) replace /-/ with '']" doc:name="SetObjectStoreKey" doc:id="42df0fbe-c7e3-4025-b41d-0548d4e4f82f" variableName="objectStoreKey"/>
		<os:store doc:name="StoreLoopContext" doc:id="c0ed46e0-7b00-421e-a87a-c9d6ef94700b" key="#[vars.objectStoreKey]" objectStore="Object_store">
			<os:value ><![CDATA[#[%dw 2.0 
output application/java 
import * from dw::util::Timer

var inRetryDurationSec=if (vars.CallFlowWithRetry_in.retryDurationSec != null)
	vars.CallFlowWithRetry_in.retryDurationSec 
	else 
		if (p('common.utilities.call-flow-with-retry.retryDurationSec') != null)
			p('common.utilities.call-flow-with-retry.retryDurationSec') 
		else 
			p('common.utilities.call-flow-with-retry.defaultRetryDurationSec')

var inRetryInitialDelayMs=if (vars.CallFlowWithRetry_in.retryInitialDelayMs != null) 
	vars.CallFlowWithRetry_in.retryInitialDelayMs 
	else 
		if (p('common.utilities.call-flow-with-retry.retryInitialDelayMs') != null)
			p('common.utilities.call-flow-with-retry.retryInitialDelayMs') 
		else 
			p('common.utilities.call-flow-with-retry.defaultRetryInitialDelayMs')

var inRetryIncrementalDelayMs=if (vars.CallFlowWithRetry_in.retryIncrementalDelayMs != null) 
		vars.CallFlowWithRetry_in.retryIncrementalDelayMs 
	else 
		if (p('common.utilities.call-flow-with-retry.retryIncrementalDelayMs') != null)
			p('common.utilities.call-flow-with-retry.retryIncrementalDelayMs') 
		else 
			p('common.utilities.call-flow-with-retry.defaultRetryIncrementalDelayMs')

var inRetryMaxDelayMs=if (vars.CallFlowWithRetry_in.retryMaxDelayMs != null) 
	vars.CallFlowWithRetry_in.retryMaxDelayMs 
	else 
		if (p('common.utilities.call-flow-with-retry.retryMaxDelayMs') != null)
			p('common.utilities.call-flow-with-retry.retryMaxDelayMs') 
		else 
			p('common.utilities.call-flow-with-retry.defaultRetryMaxDelayMs')

---
{
	iteration: 0,
	dateStartRetry: toMilliseconds(now()) as Number,
	retryDurationSec: inRetryDurationSec as Number,
	retryDelayMs: inRetryInitialDelayMs as Number,
	retryIncrementalDelayMs: inRetryIncrementalDelayMs as Number,
	retryMaxDelayMs: inRetryMaxDelayMs as Number
}]]]></os:value>
		</os:store>
		<until-successful maxRetries="#[1000000]" doc:name="Until Successful" doc:id="35d4c836-b39f-4f22-aa0a-5241a465fa40" millisBetweenRetries="0" >
			<try doc:name="Try" doc:id="690d4bd0-fda8-4d0b-b55b-0ad25b9803d7">
				<os:retrieve doc:name="RetrieveLoopContext" doc:id="acab9a88-897d-4bc5-a4b8-b00d78104271" key='#[vars.objectStoreKey]' objectStore="Object_store" target="loopContext">
						</os:retrieve>
				<choice doc:name="Choice" doc:id="345f5eef-d318-4549-8377-19c4154eaad7" >
					<when expression="#[%dw 2.0 
output application/java 
import * from dw::util::Timer
---
if (
	vars.loopContext.iteration &gt; 0 
	and (toMilliseconds(now()) - vars.loopContext.dateStartRetry as Number)/1000 &gt; vars.loopContext.retryDurationSec
   )
	true
else
	false]">
						<ee:transform doc:name="frkException FRK_RETRY_EXHAUSTED" doc:id="f09429aa-98c2-42a9-854f-03d8a218eeaa" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="frk_exception" ><![CDATA[%dw 2.0
output application/java
---
{
	errorTimestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" },
	errorDescription: 'System is not available. Retry delay exhausted.',
	errorCode: 'FRK_RETRY_EXHAUSTED',
	errorType: 'T',
	errorSeverity: 'HIGH',
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<raise-error doc:name="Raise FRK_RETRY_EXHAUSTED" doc:id="ec5970ae-6110-44a1-a9c5-568bf682dac3" type="FRK:EXCEPTION" description="Retry delay exhausted" />
					</when>
					<otherwise >
						<flow-ref doc:name="main" doc:id="4d966f8f-d501-4ae6-b1d2-450bb7f62e87" name="#[vars.CallFlowWithRetry_in.callFlowName]" />
						<choice doc:name="Choice" doc:id="5b25c307-aeb5-4a91-b681-18fb1b595935">
							<when expression="#[vars.frk_exception != null]">
								<remove-variable doc:name="ResetFrkException" doc:id="58d23bca-dc73-4b12-8085-e5377e44a98a" variableName="frk_exception" />
							</when>
						</choice>
						<choice doc:name="Choice" doc:id="31c3a90f-9180-47fe-8a16-b2e34cf48e36" >
							<when expression="#[vars.loopContext.iteration &gt; 0]">
								<set-variable value="#[%dw 2.0
output application/java
import * from dw::util::Timer
---
{
	logRole: 'INFO',
	logText: 'Service invocation Retry Successful - Retry iteration #' ++ vars.loopContext.iteration as String ++  ' - Date: ' ++ now() 
}]" doc:name="SetLogAudit" doc:id="dcc23b6e-8387-4046-994e-df98c7aea9d3" variableName="frk_logAudit_in" />
								<flow-ref doc:name="logAudit" doc:id="da845980-e94a-4da8-a85b-dd7e2425f395" name="frk-logAudit"/>
							</when>
						</choice>
					</otherwise>
				</choice>
				<error-handler >
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="80a04efb-b24f-4df2-9912-feeec5acc170" type="FRK:EXCEPTION" when="vars.frk_exception.errorCode=='FRK_SYSTEM_NOT_AVAILABLE'">
						<choice doc:name="Choice" doc:id="326f0c58-8304-450c-b72b-8b38d61163aa" >
							<when expression="#[vars.loopContext.iteration == 0]">
								<set-variable value='#[%dw 2.0 
output application/java 
---
{
	iteration: 1,
	dateStartRetry: vars.loopContext.dateStartRetry as Number,
	retryDurationSec: vars.loopContext.retryDurationSec as Number,
	retryDelayMs: vars.loopContext.retryDelayMs as Number,
	retryIncrementalDelayMs: vars.loopContext.retryIncrementalDelayMs as Number,
	retryMaxDelayMs: vars.loopContext.retryMaxDelayMs as Number
}]' doc:name="SetLoopContext" doc:id="de6a8e89-c7f6-4727-be50-ed5a9e9283a0" variableName="loopContext" />
								<os:store doc:name="StoreLoopContext" doc:id="3e3a2b2e-5dd6-48b8-a138-f53b2d191843" key='#[vars.objectStoreKey]' objectStore="Object_store" failOnNullValue="false" doc:description="Stores a retry indicator on the first occurance of such an system not available exception.
This is just to only put a warning in log in the FIRST occurence">
							<os:value><![CDATA[#[vars.loopContext]]]></os:value>
						</os:store>
								<flow-ref doc:name="frk-logError" doc:id="234b5189-ef3a-4f44-a6c3-a514dbf7e0dc" name="frk-logError" />
								<set-variable value="#[%dw 2.0
output application/java
import * from dw::util::Timer
---
{
	logRole: 'WARNING',
	logText: 'Retrying flow for a maximum duration of ('
				++ vars.loopContext.retryDurationSec as String
				++ 's) - initial retry delay is ('
	 			++ vars.loopContext.retryDelayMs as String
	 			++ 'ms) - increasing ('
	 			++ vars.loopContext.retryIncrementalDelayMs as String
				++ 'ms) - max retry delay is (' 
				++ vars.loopContext.retryMaxDelayMs as String
				++ 'ms).'
}]" doc:name="SetLogAudit" doc:id="224e69ae-2d13-4904-9fe2-fba1948371de" variableName="frk_logAudit_in" />
								<flow-ref doc:name="logAudit" doc:id="47d0ff19-2fb7-4703-870a-e32811ea33ff" name="frk-logAudit"/>
							</when>
							<otherwise >
								<set-variable value="#[%dw 2.0 
output application/java 
---
{
	iteration: (vars.loopContext.iteration as Number) + 1,
	dateStartRetry: vars.loopContext.dateStartRetry as Number,
	retryDurationSec: vars.loopContext.retryDurationSec as Number,
	retryDelayMs: if ( 
		(
			vars.loopContext.retryDelayMs as Number + vars.loopContext.retryIncrementalDelayMs as Number
		) &gt;= vars.loopContext.retryMaxDelayMs as Number
	)
		vars.loopContext.retryMaxDelayMs as Number
	else
		vars.loopContext.retryDelayMs as Number 
		+ vars.loopContext.retryIncrementalDelayMs as Number,
	
	retryIncrementalDelayMs: vars.loopContext.retryIncrementalDelayMs as Number,
	retryMaxDelayMs: vars.loopContext.retryMaxDelayMs as Number
}]" doc:name="SetLoopContext" doc:id="560a1ec5-243c-402f-aa7c-c2a68d1390bc" variableName="loopContext" />
								<os:store doc:name="StoreLoopContext" doc:id="4a850a02-6c29-4180-9f72-23c9e7c0a828" doc:description="Stores a retry indicator on the first occurance of such an system not available exception.
This is just to only put a warning in log in the FIRST occurence" key='#[vars.objectStoreKey]' failOnNullValue="false" objectStore="Object_store">
									<os:value><![CDATA[#[vars.loopContext]]]></os:value>
								</os:store>
							</otherwise>
						</choice>
						<ee:transform doc:name="retryDelay" doc:id="b3e8fbe5-061c-40ff-a13c-6a8fcfc033c1" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
---
{} wait (vars.loopContext.retryDelayMs as Number)]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-propagate>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5f261d2d-1f14-42a5-86de-9abb53c4d13e" type="FRK:EXCEPTION">
					</on-error-continue>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1ca3610f-5b1c-4253-81da-9cb3fef3eae9" type="ANY">
						<ee:transform doc:name="frkException FRK_UNEXPECTED_EXCEPTION" doc:id="e8059dd2-799c-4020-92c2-d4a4c19566bf" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="frk_exception" ><![CDATA[%dw 2.0
output application/java
---
{
	errorTimestamp: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" },
	errorDescription: 'Fatal error during Flow call loop.',
	errorCode: 'FRK_UNEXPECTED_EXCEPTION',
	errorType: 'T',
	errorSeverity: 'MEDIUM',
	nativeError: {
		description: error.description,
		detailedDescription: error.detailedDescription,
		errorType: error.errorType,
		errorMessage: error.errorMessage,
		childErrors: error.childErrors
	}
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</on-error-continue>
					
					
				</error-handler>
		</try>
		</until-successful>
		<choice doc:name="Choice" doc:id="c6815906-71d0-4268-8e8d-232d2d69e7b9">
				<when expression="vars.frk_exception != null">
					<raise-error doc:name="Raise FRK:EXCEPTION" doc:id="88418b4b-c389-4e16-843d-3a09a279da11" type="FRK:EXCEPTION" description="Raise FRK:EXCEPTION from Flow retry loop."></raise-error>
				</when>
			</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6cec0fd2-54ae-4b1d-833b-9e5eda8a5d39" type="ANY">
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
