.tooling/sf-operations-papi4b316a19-1e0e-4e9c-a774-9fe1e7e450a3/implementation/get-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">


	<flow name="get-accountFlow" doc:id="656f3672-4910-4c4c-b214-1c940e6794fd" >
		<ee:transform doc:name="Filter Variables" doc:id="96bcec18-efc8-4ad4-a1cd-082ffccde6af" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="LastModifiedDate" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="get salesforce sapi : /accounts" doc:id="5c4a98ff-7083-4927-811d-ff41da779032" path="/api/accounts" config-ref="HTTP_Request_configuration" sendCorrelationId="ALWAYS" correlationId="#[correlationId]" responseTimeout="1000000000">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"LastModifiedDate" : attributes.queryParams[0]
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
