.tooling/salesforce-global-sapi12b694d1-76ce-49cf-8b7b-a3e521389380/implementation/get-account-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-account" doc:id="f5373fcd-a8b9-4d08-8519-1a562ee53ed8" >
		<set-variable value="#[attributes.uriParams[0]]" doc:name="Set Variable" doc:id="11008b90-a9d6-4010-95ce-0bbb7c80367e" variableName="accountId"/>
		<salesforce:query doc:name="Query" doc:id="abb8e8d7-050e-4bd5-b18a-8fbfe4c9807e" config-ref="Salesforce_SmarkGlobal" readTimeout="10000000">
			<salesforce:salesforce-query><![CDATA[SELECT FIELDS(ALL) from Account where id = ':code']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"code" : vars.accountId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="81435869-2c7f-4bdf-a27d-d8e56239a992" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
